<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 由stage工具自动生成 -->
<mapper namespace="mybatis.graduate.GraduateMapper">
    <!-- 毕业生信息 -->
    <resultMap id="graduate" type="com.thunisoft.graduate.common.model.Graduate">
        <!-- 编号 -->
        <id property="id" column="N_ID" jdbcType="INTEGER"/>
        <!-- 协议编号 -->
        <result property="protocolId" column="C_PROTOCOLID" jdbcType="VARCHAR"/>
        <!-- 姓名 -->
        <result property="name" column="C_NAME" jdbcType="VARCHAR"/>
        <!-- 身份证号 -->
        <result property="idCard" column="C_IDCARD" jdbcType="VARCHAR"/>
        <!-- 性别 -->
        <result property="gender" column="N_GENDER" jdbcType="INTEGER"/>
        <!-- 民族 -->
        <result property="people" column="C_PEOPLE" jdbcType="VARCHAR"/>
        <!-- 政治面貌 -->
        <result property="politicalStatus" column="C_POLITICALSTATUS" jdbcType="VARCHAR"/>
        <!-- 院系 -->
        <result property="college" column="C_COLLEGE" jdbcType="VARCHAR"/>
        <!-- 专业 -->
        <result property="profession" column="C_PROFESSION" jdbcType="VARCHAR"/>
        <!-- 班级 -->
        <result property="gender" column="C_GENDER" jdbcType="VARCHAR"/>
        <!-- 联系方式 -->
        <result property="tel" column="C_TEL" jdbcType="VARCHAR"/>
        <!-- 毕业时间 -->
        <result property="graduateTime" column="D_GRADUATETIME" jdbcType="DATE"/>
        <!-- 学历 -->
        <result property="education" column="C_EDUCATION" jdbcType="VARCHAR"/>
        <!-- 学位类别 -->
        <result property="degree" column="C_DEGREE" jdbcType="VARCHAR"/>
        <!-- 家庭地址 -->
        <result property="address" column="C_ADDRESS" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteGraduateById">
        delete
        from T_GRADUATE
        where N_ID = #{id}
    </delete>
    <insert id="addGraduate" parameterType="com.thunisoft.graduate.common.model.Graduate">
        insert into T_GRADUATE (N_ID,
                                C_PROTOCOLID,
                                C_NAME,
                                C_IDCARD,
                                N_GENDER,
                                C_PEOPLE,
                                C_POLITICALSTATUS,
                                C_COLLEGE,
                                C_PROFESSION,
                                c_gender,
                                C_TEL,
                                D_GRADUATETIME,
                                C_EDUCATION,
                                C_DEGREE,
                                C_ADDRESS)
        values (#{id, jdbcType=INTEGER},
                #{protocolId, jdbcType=VARCHAR},
                #{name, jdbcType=VARCHAR},
                #{idCard, jdbcType=VARCHAR},
                #{gender, jdbcType=INTEGER},
                #{people, jdbcType=VARCHAR},
                #{politicalStatus, jdbcType=VARCHAR},
                #{colleage, jdbcType=VARCHAR},
                #{profession, jdbcType=VARCHAR},
                #{class, jdbcType=VARCHAR},
                #{tel, jdbcType=VARCHAR},
                #{graduateTime, jdbcType=DATE},
                #{education, jdbcType=VARCHAR},
                #{degree, jdbcType=VARCHAR},
                #{address, jdbcType=VARCHAR})
    </insert>
    <update id="updateGraduate" parameterType="com.thunisoft.graduate.common.model.Graduate">
        update T_GRADUATE
        set C_PROTOCOLID      = #{protocolId, jdbcType=VARCHAR},
            C_NAME            = #{name, jdbcType=VARCHAR},
            C_IDCARD          = #{idCard, jdbcType=VARCHAR},
            N_GENDER          = #{gender, jdbcType=INTEGER},
            C_PEOPLE          = #{people, jdbcType=VARCHAR},
            C_POLITICALSTATUS = #{politicalStatus, jdbcType=VARCHAR},
            C_COLLEGE         = #{colleage, jdbcType=VARCHAR},
            C_PROFESSION      = #{profession, jdbcType=VARCHAR},
            c_gender          = #{class, jdbcType=VARCHAR},
            C_TEL             = #{tel, jdbcType=VARCHAR},
            D_GRADUATETIME    = #{graduateTime, jdbcType=DATE},
            C_EDUCATION       = #{education, jdbcType=VARCHAR},
            C_DEGREE          = #{degree, jdbcType=VARCHAR},
            C_ADDRESS         = #{address, jdbcType=VARCHAR}
        where N_ID = #{id}
    </update>
    <select id="getGraduateById" parameterType="java.lang.String" resultMap="graduate">
        select N_ID,
               C_PROTOCOLID,
               C_NAME,
               C_IDCARD,
               N_GENDER,
               C_PEOPLE,
               C_POLITICALSTATUS,
               C_COLLEGE,
               C_PROFESSION,
               c_gender,
               C_TEL,
               D_GRADUATETIME,
               C_EDUCATION,
               C_DEGREE,
               C_ADDRESS
        from T_GRADUATE
        where N_ID = #{id}
    </select>
    <select id="getGraduates" resultMap="graduate">
        select N_ID,
               C_PROTOCOLID,
               C_NAME,
               C_IDCARD,
               N_GENDER,
               C_PEOPLE,
               C_POLITICALSTATUS,
               C_COLLEGE,
               C_PROFESSION,
               c_gender,
               C_TEL,
               D_GRADUATETIME,
               C_EDUCATION,
               C_DEGREE,
               C_ADDRESS
        from T_GRADUATE
    </select>
    <select id="getGraduatesCount" resultType="int">
        select count(*)
        from T_GRADUATE
    </select>
</mapper>
